@charset "utf-8";

@import "import";

#header,
#content,
#footer {
	margin: 0 auto;
	text-align: left;
	width: $baseWidth;
	position: relative;
	background: #f1f1f1;

	@media screen and (max-width: 479px) {
		width: 320px;
	}

	@media screen and (min-width: 480px) {
	}
}

/*----------------------------------------
	header
----------------------------------------*/
#header {
}

/*----------------------------------------
	content
----------------------------------------*/
#content {
}

/*----------------------------------------
	footer
----------------------------------------*/
#footer {
}


/*----------------------------------------
	Class
----------------------------------------*/
@include clearfix();
