@charset "utf-8";

@import "import";

#background-fit {
	> p {
		@include background-fit(("text.png",linear-gradient(rgba(red,0.1),rgba(red,0.3))),false,('center 5px no-repeat','0 0 no-repeat'));
		height: nth($imgHeight,1) + 10;
		text-indent: -9999px;
	}
	section p {
		$isRetina: true;
		@include background-fit(("text.png",linear-gradient(rgba(red,0.1),rgba(red,0.3))),false,('center 5px no-repeat','0 0 no-repeat'));
		$isRetina: false;
		height: nth($imgHeight,1) + 10;
		text-indent: -9999px;
	}
}

#background-4corners {
	p {
		position: relative;
		height: 200px;
		text-align: center;
		@include background-4corners("flower.png");
	}
}

#em-width {
	$em-width: 40;
	$letter-spacing: 2.4;
	p {
		margin: 0 auto;
		margin-bottom: fs(silver-ratio(16) + 16);
		line-height: fs(silver-ratio(16));
		letter-spacing: fs($letter-spacing);
		color: #500;
		
		@include em-width($em-width,$letter-spacing);
	}
}

#sprite-info {
	$map: sprite-map('num/*.png', $spacing: 5px);
	p {
		@include sprite-info($map,img3);
	}
	
	li {
		@include inline-block;
	}
	
	//フォルダ内のファイルリストを取得（falseでファイル名のみ）
	$file: fileList($images_dir + 'num/*',false);
	
	@for $i from 1 through length($file) {
		li:nth-child(#{$i}) {
			@include sprite-info($map,'img' + $i);
		}
	}
}

#triangle {
	li {
		float: left;
		&:nth-child(1) {
			@include triangle(20px,red,top);
		}
		&:nth-child(2) {
			@include triangle(20px,green,right);
		}
		&:nth-child(3) {
			@include triangle(20px,pink,bottom);
		}
		&:nth-child(4) {
			@include triangle(20px,purple,left);
		}
	}
	p {
		margin: 30px auto;
		border: 2px solid #39c;
		height: 100px;
		width: 100px;
		position: relative;
		background: #fff;
		@include triangle-set(30px 20px,#39c,bottom);
		@include triangle-set(50px 20px,#39c,top,50%,before);
		-webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
	}
}

#arrow {
	li {
		padding: 0.3em;
		margin-bottom: 0.3em;
		background: #333;
		color: #fff;
		position: relative;
		&:nth-child(1) {
			@include arrow-set(10px,1px,#fff,right);
		}
		&:nth-child(2):after {
			@include arrow(10px,1px,#fff,top);
		}
		&:nth-child(3):after {
			@include arrow(10px,1px,#fff,bottom);
		}
		&:nth-child(4):after {
			@include arrow(10px,1px,#fff,left);
		}
		&:after {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -$size / 2;
		}
	}
}

#shadow-repeat {
	p {
		padding: 1em;
		font-weight: bold;
		color: #fff;
		@include text-shadow-repeat(0 0 3px #000,5);
		@include box-shadow-repeat(0 0 10px #39c,10);
	}
}