@charset "utf-8";
.num.img1, .num.img2, .num.img3, .num.img4, .num.img5 {
  display: block;
  background-image: url('/html/img/num-sce8bc88143.png');
  background-repeat: no-repeat;
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
}

.num.img1 {
  background-position: 0 -220px;
  width: 50px;
  height: 50px;
}

.num.img2 {
  background-position: 0 -110px;
  width: 50px;
  height: 50px;
}

.num.img3 {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}

.num.img4 {
  background-position: 0 -165px;
  width: 50px;
  height: 50px;
}

.num.img5 {
  background-position: 0 -55px;
  width: 50px;
  height: 50px;
}
