@charset "utf-8";
#background-fit > p {
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDAsIDAsIDAuMSkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAwLCAwLCAwLjMpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 0, 0, 0.3))) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -webkit-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -moz-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -o-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  -webkit-background-size: 327px 29px, auto auto;
  -moz-background-size: 327px 29px, auto auto;
  -o-background-size: 327px 29px, auto auto;
  background-size: 327px 29px, auto auto;
  height: 39px;
  text-indent: -9999px;
}
#background-fit section p {
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDAsIDAsIDAuMSkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAwLCAwLCAwLjMpIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 0, 0, 0.3))) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -webkit-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -moz-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, -o-linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  background: url('/html/img/text.png?1396155926') center 5px no-repeat, linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.3)) 0 0 no-repeat;
  -webkit-background-size: 164px 15px, auto auto;
  -moz-background-size: 164px 15px, auto auto;
  -o-background-size: 164px 15px, auto auto;
  background-size: 164px 15px, auto auto;
  height: 25px;
  text-indent: -9999px;
}

#background-4corners p {
  position: relative;
  height: 200px;
  text-align: center;
}
#background-4corners p:after, #background-4corners p:before {
  content: '';
  display: block;
  background: url('/html/img/flower.png?1396156913') 0 0 no-repeat;
  background-size: 100px 61px;
  width: 50%;
  height: 61px;
  position: absolute;
  -webkit-box-reflect: right;
}
#background-4corners p:before {
  top: 0;
  left: 0;
}
#background-4corners p:after {
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#em-width p {
  margin: 0 auto;
  margin-bottom: 3.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.24rem;
  color: #500;
  max-width: 73.6rem;
  /width: 40;
}

#sprite-info p {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
#sprite-info li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#sprite-info li:nth-child(1) {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -220px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(2) {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -110px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(3) {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(4) {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -165px;
  width: 50px;
  height: 50px;
}
#sprite-info li:nth-child(5) {
  background-image: url('/html/img/num-sce8bc88143.png');
  -webkit-background-size: 50px 270px;
  -moz-background-size: 50px 270px;
  -o-background-size: 50px 270px;
  background-size: 50px 270px;
  background-position: 0 -55px;
  width: 50px;
  height: 50px;
}

#triangle li {
  float: left;
}
#triangle li:nth-child(1) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-bottom-color: red;
  border-bottom-width: 20px;
}
#triangle li:nth-child(2) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-left-color: green;
  border-left-width: 20px;
}
#triangle li:nth-child(3) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-top-color: pink;
  border-top-width: 20px;
}
#triangle li:nth-child(4) {
  content: "";
  font-size: 0;
  border: 10px solid transparent;
  border-right-color: purple;
  border-right-width: 20px;
}
#triangle p {
  margin: 30px auto;
  border: 2px solid #39c;
  height: 100px;
  width: 100px;
  position: relative;
  background: #fff;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}
#triangle p:after {
  content: "";
  font-size: 0;
  border: 15px solid transparent;
  border-top-color: #3399cc;
  border-top-width: 20px;
  bottom: -35px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
}
#triangle p:before {
  content: "";
  font-size: 0;
  border: 25px solid transparent;
  border-bottom-color: #3399cc;
  border-bottom-width: 20px;
  top: -45px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}

#arrow li {
  padding: 0.3em;
  margin-bottom: 0.3em;
  background: #333;
  color: #fff;
  position: relative;
}
#arrow li:nth-child(1):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  margin-top: -5px;
}
#arrow li:nth-child(2):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:nth-child(3):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:nth-child(4):after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow li:after {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -5px;
}

#shadow-repeat p {
  padding: 1em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 3px black,0 0 3px black,0 0 3px black,0 0 3px black,0 0 3px black;
  box-shadow: 0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc,0 0 10px #3399cc;
}
