@charset "utf-8";
/*----------------------------------------
	Selectors 書き方
----------------------------------------*/
ul {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid pink;
  background-color: #fff;
}
ul[class^=num] li {
  padding: 0.2em 0.5em;
  font-size: 92.30769px%;
  line-height: 1.6;
  color: #fff;
}
ul[class^=num] li:nth-child(even) {
  background-color: #0CC;
}
ul[class^=num] li:nth-child(odd) {
  background-color: orange;
}
ul.num3 li:nth-child(even) {
  background-color: green;
}
ul.num3 li:nth-child(odd) {
  background-color: pink;
}
ul.num1:after {
  content: ":afterで追加したテキスト1";
}
ul.num2:after {
  content: ":afterで追加したテキスト2";
}
ul.num3:after {
  content: ":afterで追加したテキスト3";
}
ul.num4:after {
  content: ":afterで追加したテキスト4";
}
ul li:hover {
  background-color: green;
}

/*----------------------------------------
	for文で繰り返し
----------------------------------------*/
/* 通常 */
.item1 {
  background-image: url(images/test1);
}

.item2 {
  background-image: url(images/test2);
}

.item3 {
  background-image: url(images/test3);
}

.item4 {
  background-image: url(images/test4);
}

.item5 {
  background-image: url(images/test5);
}

/* 先頭に0を付ける */
.item01 {
  background-image: url(images/test01);
}

.item02 {
  background-image: url(images/test02);
}

.item03 {
  background-image: url(images/test03);
}

.item04 {
  background-image: url(images/test04);
}

.item05 {
  background-image: url(images/test05);
}

/*----------------------------------------
	グラデーション
----------------------------------------*/
p#gradient {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iNTAlIiB4Mj0iMTAwJSIgeTI9IjUwJSI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjNmYxNTZjIi8+PHN0b3Agb2Zmc2V0PSI2NSUiIHN0b3AtY29sb3I9IiNmZDdjMDAiLz48c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzAwMjg3NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(5%, #0000ff), color-stop(35%, #6f156c), color-stop(65%, #fd7c00), color-stop(95%, #002874));
  background: -webkit-linear-gradient(left, #0000ff 5%, #6f156c 35%, #fd7c00 65%, #002874 95%);
  background: -moz-linear-gradient(left, #0000ff 5%, #6f156c 35%, #fd7c00 65%, #002874 95%);
  background: -o-linear-gradient(left, #0000ff 5%, #6f156c 35%, #fd7c00 65%, #002874 95%);
  background: linear-gradient(left, #0000ff 5%, #6f156c 35%, #fd7c00 65%, #002874 95%);
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 176.92308%;
  color: #fff;
}

/*----------------------------------------
	extend 出力するcssを分けている場合は
	他のcssに大してはextend出来ないみたいです。
----------------------------------------*/
p.common, .test {
  margin: 0;
  padding: 0;
}

.test {
  width: 5px;
  height: 5px 5px;
}

/*----------------------------------------
	font-size pxを%に変換
----------------------------------------*/
.test {
  font-size: 92.30769%;
}

.test {
  font-size: 230.76923%;
}

/* 8以下は8になるよ */
.test {
  font-size: 7.69231%;
}

/* 40以上は40になるよ */
.test {
  font-size: 769.23077%;
}

/*----------------------------------------
	fs(目的のサイズ,継承したサイズ)
	小数点以下は3桁
----------------------------------------*/
.test {
  font-size: 1.15385em;
}

.test {
  font-size: 115.38462%;
}

/*----------------------------------------
	css3
----------------------------------------*/
.test {
  height: 100px;
  background: red;
  text-align: center;
  /* 関数で 値を指定 */
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  width: 940px;
  /* opacity */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  /* min-height */
  min-height: 100px;
  _height: 100px;
  /* inline-block */
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /* box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border-radius */
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  /* background-size */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* box-shadow */
  -webkit-box-shadow: 1px 1px 3px blue, 1px 1px 3px blue, 1px 1px 3px blue;
  -moz-box-shadow: 1px 1px 3px blue, 1px 1px 3px blue, 1px 1px 3px blue;
  box-shadow: 1px 1px 3px blue, 1px 1px 3px blue, 1px 1px 3px blue;
  /* text-shadow */
  text-shadow: rgba(0, 0, 255, 0.2) 1px 1px 0, rgba(0, 0, 255, 0.2) 2px 2px 0, rgba(0, 0, 255, 0.2) 3px 3px 0;
  /* 同じtext-shadowを繰り返したい場合 */
  text-shadow: 0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white,0 0 2px white;
  /* transition */
  -webkit-transition: margin-left 0.25s ease-out, padding 0.25s ease-out;
  -moz-transition: margin-left 0.25s ease-out, padding 0.25s ease-out;
  -o-transition: margin-left 0.25s ease-out, padding 0.25s ease-out;
  transition: margin-left 0.25s ease-out, padding 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  /* transition単品で transformを指定した場合ベンダーフィックスがつかない */
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-transform 0.25s ease-out;
  -o-transition: -o-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  /* 単独だとつきます */
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  /* transform βのようです。 */
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-transform: perspective(800px) rotate3d(1, 5, 5, 10deg);
  -moz-transform: perspective(800px) rotate3d(1, 5, 5, 10deg);
  -ms-transform: perspective(800px) rotate3d(1, 5, 5, 10deg);
  -o-transform: perspective(800px) rotate3d(1, 5, 5, 10deg);
  transform: perspective(800px) rotate3d(1, 5, 5, 10deg);
}
.test:hover {
  -webkit-transform:  rotate3d(3, 40, -200, 10deg);
  -moz-transform:  rotate3d(3, 40, -200, 10deg);
  -ms-transform:  rotate3d(3, 40, -200, 10deg);
  -o-transform:  rotate3d(3, 40, -200, 10deg);
  transform:  rotate3d(3, 40, -200, 10deg);
}

/*----------------------------------------
	MediaQuery
	そのなかのクラスにextendすることもできみたい。
----------------------------------------*/
.media {
  width: 320px;
}

@media screen and (max-width: 479px) {
  .media2, .media {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .media2, .media {
    width: 480px;
  }
}

/*----------------------------------------
	アニメーション
----------------------------------------*/
p.test2:hover {
  -webkit-animation-name: anime1;
  -moz-animation-name: anime1;
  -ms-animation-name: anime1;
  -o-animation-name: anime1;
  animation-name: anime1;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* keyframe */
@-webkit-keyframes anime1 {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    width: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-moz-keyframes anime1 {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    width: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-o-keyframes anime1 {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    width: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-ms-keyframes anime1 {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    width: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes anime1 {
  0% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }

  100% {
    width: 500px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/*----------------------------------------
	sassの機能
----------------------------------------*/
.test2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 230.76923%;
  letter-spacing: -0.1em;
  background-color: #7f007f;
  color: #ff7f00;
  width: 33.33333%;
  width: 33%;
  width: 34%;
  width: 33%;
  width: 300px;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  height: 300px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzMDMwMyIvPjxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjMzczNzM3Ii8+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiMzYzNjM2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjQyNDIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #030303), color-stop(49%, #373737), color-stop(49%, #3c3c3c), color-stop(100%, #424242));
  background: -webkit-linear-gradient(top, #030303 0%, #373737 49%, #3c3c3c 49%, #424242 100%);
  background: -moz-linear-gradient(top, #030303 0%, #373737 49%, #3c3c3c 49%, #424242 100%);
  background: -o-linear-gradient(top, #030303 0%, #373737 49%, #3c3c3c 49%, #424242 100%);
  background: linear-gradient(top, #030303 0%, #373737 49%, #3c3c3c 49%, #424242 100%);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
  background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
  background: linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
}
